/Builds
/build*/
/dist
/Source/DDRDownloader
/Source/WSPremium
/Source/DDRDownloader/DDR
/installer_build
*.msi
*.wixobj
*.wixpdb
DartConfiguration.tcl
/CMakeFiles
/_deps
/Marketplace/frontend/node_modules
