<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Product Configuration -->
  <Product Id="*" Name="Waviate Script" Language="1033" Version="1.0.0.0" 
           Manufacturer="Waviate" UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
    <MediaTemplate EmbedCab="yes"/>
    
    <!-- Upgrade behavior: allow side-by-side installations with version changes -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of Waviate Script is already installed."
                  AllowDowngrades="no"/>
    
    <!-- Feature Definition -->
    <Feature Id="ProductFeature" Title="Waviate Script" Level="1">
      <Feature Id="StandaloneFeature" Title="Standalone Application" Level="1">
        <ComponentRef Id="StandaloneExecutable"/>
      </Feature>
      <Feature Id="VST3Feature" Title="VST3 Plugin" Level="1">
        <ComponentRef Id="VST3Plugin"/>
      </Feature>
      <Feature Id="HeadersFeature" Title="Development Headers" Level="1">
        <ComponentRef Id="IncludeHeaders"/>
      </Feature>
    </Feature>

    <!-- UI Configuration -->
    <UIRef Id="WixUI_InstallDir"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf"/>

    <!-- Install directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="WaviateFolder" Name="Waviate">
          <Directory Id="INSTALLFOLDER" Name="Script">
            <Directory Id="BinFolder" Name="bin"/>
            <Directory Id="IncludeFolder" Name="include"/>
          </Directory>
        </Directory>
      </Directory>
      
      <!-- VST3 location: Program Files\Common Files\VST3 -->
      <Directory Id="CommonFilesFolder">
        <Directory Id="VST3RootFolder" Name="VST3"/>
      </Directory>
      
      <!-- Start Menu shortcuts -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="WaviateProgramMenuFolder" Name="Waviate Script"/>
      </Directory>
      
      <!-- Desktop for quick access -->
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>

    <!-- Standalone Executable Component -->
    <DirectoryRef Id="BinFolder">
      <Component Id="StandaloneExecutable" Guid="87654321-4321-4321-4321-210987654321">
        <File Id="StandaloneExe" Source="SourceWaviateScript_Standalone.exe" KeyPath="yes">
          <Shortcut Id="DesktopShortcut" Directory="DesktopFolder" Name="Waviate Script" 
                   WorkingDirectory="BinFolder" Icon="WaviateIcon.ico" IconIndex="0"/>
        </File>
        <RegistryValue Root="HKLM" Key="Software\Waviate\WaviateScript\Standalone" 
                      Name="InstallPath" Type="string" Value="[BinFolder]" KeyPath="no"/>
      </Component>
    </DirectoryRef>

    <!-- VST3 Plugin Component 
         Note: VST3 plugins are folder bundles. The Source path should point to
         the .vst3 folder generated by the build process.
    -->
    <DirectoryRef Id="VST3RootFolder">
      <Component Id="VST3Plugin" Guid="11111111-2222-3333-4444-555555555555">
        <!-- Recursive directory copy for VST3 bundle -->
        <RegistryValue Root="HKLM" Key="Software\Waviate\WaviateScript\VST3" 
                      Name="InstallPath" Type="string" Value="[VST3RootFolder]" KeyPath="yes"/>
        <!-- The VST3 bundle files will be included via heat.exe or manual DirectoryRef -->
        <RemoveFolder Id="RemoveVST3PluginFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <!-- Include Headers Component -->
    <DirectoryRef Id="IncludeFolder">
      <Component Id="IncludeHeaders" Guid="66666666-7777-8888-9999-000000000001">
        <File Id="WaviateH" Source="SourceWaviate.h" KeyPath="yes"/>
        <File Id="WaviateHpp" Source="SourceWaviate.hpp"/>
        <File Id="WaviateInputH" Source="SourceWaviateInput.h"/>
        <RegistryValue Root="HKLM" Key="Software\Waviate\WaviateScript\Include" 
                      Name="Path" Type="string" Value="[IncludeFolder]" KeyPath="no"/>
      </Component>
    </DirectoryRef>

    <!-- Start Menu Shortcuts and Uninstall -->
    <DirectoryRef Id="WaviateProgramMenuFolder">
      <Component Id="ProgramFilesShortcut" Guid="99999999-8888-7777-6666-555555555551">
        <Shortcut Id="UninstallProduct" Name="Uninstall Waviate Script" 
                 Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]"/>
        <Shortcut Id="DocumentationShortcut" Name="Documentation" 
                 Target="https://github.com/ikamondj/WaviateScript/wiki"/>
        <RemoveFolder Id="WaviateProgramMenuFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Waviate\WaviateScript" Name="installed" 
                      Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

  </Product>
</Wix>
